{% extends 'home/layout.html' %}

{% block body %}

<header>
    <h1>Beautifully analysed and visualised graphs for scientific data.</h1>
    <div class="notebox">This project is underconstruction. You can view the source code on GitHub using the link below and also contribute to the project.</div>
    <a class="underline-link link" href="https://github.com/nathaishik/veometry">Contribute to this project</a>
    <a class="btn-link link" href="https://github.com/nathaishik/veometry">Sponsor this project</a>
</header>


{% endblock %}